use crate::solver::Solver;
use std::io::BufRead;

pub struct Problem;

impl Solver for Problem {
    type Input = ();
    type Output1 = u64;
    type Output2 = u64;

    fn parse_input<R: BufRead>(&self, r: R) -> anyhow::Result<Self::Input> {
        todo!()
    }

    fn solve_first(&self, input: &Self::Input) -> Self::Output1 {
        todo!()
    }

    fn solve_second(&self, input: &Self::Input) -> Self::Output2 {
        todo!()
    }
}
